body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: gray;
    width: 100%;
    height: 80px;
}

.banner {
    float: left;
    font-size: 40pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.links {
    float: right;
}

.link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content {
    margin: auto;
    width: 800px;
}

.post {
    background-color: #EEEEEE;
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
}

.post-title {
    font-weight: bold;
}
