{% extends "base.html" %}

{% block content %}
    <h1>Compose</h1>
    <form action="{% url 'posts-compose' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" id="id_title" name="title" type="text" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" id="id_text" name="text" placeholder="What's on your mind?"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock content %}
